/* compatibility for browsers that don't support HTML5 elements*/
article, aside, footer, header, nav, section {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(240, 248, 255);
  color: rgb(41, 50, 65);
}

header, main, footer {
  margin: auto;
  padding: 2% 5%;
  max-width: 700px;
  border-left: 3px double rgba(41, 50, 65, 0.2);
  border-right: 3px double rgba(41, 50, 65, 0.2);
}

header, footer {
  background-color: rgb(41, 50, 65);
  color: rgb(240, 248, 255);
}

h1, h6, footer h2 {
  text-align: center;
}

section, header header, h2, h3, h4, p {
  margin-bottom: 1em;
}

a, a:visited {
  color: rgb(244, 208, 63);
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: overline underline;
}

details {
  background-color: rgba(41, 50, 65, 0.1);
  color: rgb(41, 50, 65);
}

summary {
  background-color: rgba(41, 50, 65, 0.95);
  color: rgba(244, 208, 63, 0.9);
  padding: 1%;
}

details p {
  padding: 1%;
}

details p:last-child {
  margin: 0;
}

ul {
  display: flex;
  justify-content: space-around;
}

nav li, details li, #social li {
  display: inline;
  text-align: center;
}